packages: [
  "gruvbox-plus-syntax"
  "language-autohotkey"
  "language-latex"
  "language-sas"
  "latex"
  "package-sync"
  "pdf-view"
  "terminal-panel"
  "advanced-open-file"
  "vim-mode-plus"
  "vim-mode-plus-ex-mode"
  "vim-mode-plus-keymaps-for-surround"
]
